.footer {
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: flex-start; /* Align items to the top */
    width: 100%;
    height: 100px;
    padding: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: left; /* Align text to the left */
    width: 100%;
    max-width: 1200px;
}

.socialLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Align to the left */
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
}

.shy {
    color: #374735;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Align to the left */
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
    text-align: left; /* Align text to the left */
    flex-wrap: wrap;
    font-size: 3rem;
}

.link {
    text-decoration: none;
    color: #374735 !important;
    font-size: 3rem;
}

.link:visited,
.link:hover,
.link:active,
.link:focus {
    color: #374735 !important;  /* Keep the same color */
    text-decoration: none;  /* Remove underline */
}


@media (max-width: 768px) {
    .footer {
        height: auto;
        padding: 1.5rem;
    }

    .container {
        text-align: left;
    }

    .socialLinks {
        flex-direction: column;
        align-items: flex-start; /* Align to the left */
        gap: 0.5rem;
    }

    .shy {
        flex-direction: column;
        text-align: left; /* Align text to the left */
        gap: 0.5rem;
    }
}
