.homeContainer {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url('/paper.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: none;
}

.title {
    font-weight: 600;
    font-size: 3rem;
    color: #374735;
    margin-bottom: 0.5rem;
}

.subhead {
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 0;
}

.emoticon {
    color: #99755c;
}

.textAndRoleContainer {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    align-items: start; 
    column-gap: 10rem;
}

.body_text {
    font-size: 1rem;
    line-height: 2;
}

.role {
    transform: translateY(-5.05rem); /* Adjust to move the element */
    line-height: 2;
}


.imageContainer2{
    width: 100%; /* Make the container take up the full width of its parent */
    min-width: none;
    height: 30rem; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #374735;
}

.mag {
    width: 100%; 
    max-width: 40rem;
    height: auto;
    object-fit: cover;
    margin-top: 2.75rem;
}


.content{
    margin-left: 20rem;
    margin-right: 20rem;
}


