.homeContainer {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url('/paper.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: none;
}

.title {
    font-weight: 600;
    font-size: 3rem;
    color: #374735;
    margin-bottom: 0.5rem;
}

.subhead {
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 0;
}

.emoticon {
    color: #99755c;
}

.textAndRoleContainer {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    align-items: start; 
    column-gap: 10rem;
}

.body_text {
    font-size: 1rem;
    line-height: 2;
}

.role {
    transform: translateY(-5.05rem); /* Adjust to move the element */
    line-height: 2;
}


.imageContainer2 {
    width: 100%;
    display: flex;
    background-color: #374735;
    align-items: center;
    justify-content: center; /* Centers the image */
}

.mag {
    width: 100%;
    max-width: auto; /* Keep it from growing too large */
    height: auto;
}



.content{
    margin-left: 20rem;
    margin-right: 20rem;
}

.problemSolution {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; /* Aligns them at the top */
    gap: 10rem; /* Adds space between them */
}

.problem, .solution {
    flex: 1; /* Ensures equal width */
}

.research_img {
    display: flex;
    justify-content: center; /* Center the image */
    align-items: center;
    width: 100%; /* Ensures it fits in the container */
}

.research_img2 {
    width: 100%; /* Adjust percentage as needed */
    max-width: 50rem; /* Prevents it from getting too big */
    height: auto;
}

.persona_img {
    display: flex;
    flex-direction: row; /* Align images in a row */
    justify-content: center; /* Center images */
    align-items: center; /* Align them vertically */
    gap: 3rem; /* Space between images */
    width: 100%;
    background-color: #374735;
}

.persona_img2 {
    width: 30rem; /* Adjust size as needed */
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.compAnal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #99755c;
}

.compAnal2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.flow_img, .midfi_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #374735;
}

.flow_img2, .lofi_img2, .midfi_img2, .palette_img{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.palette, .lofi_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #99755c;
}
