.homeContainer {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url('/paper.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    font-weight: 600;
    font-size: 3rem;
    color: #374735;
    margin-bottom: 0.5rem;
}

.subhead {
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 0;
}

.emoticon {
    color: #99755c;
}

.textAndRoleContainer {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    align-items: start; 
    column-gap: 10rem;
}

.body_text {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1.5rem;
}

.role {
    align-items: start;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mag {
    border-radius: 10px;
}

.imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 images side by side */
    gap: 10px; /* Reduce space between the images */
    margin-top: 5rem; /* Space between text and images */
}

.imageItem {
    overflow: hidden;
}

.image1, .image2, .image3 {
    width: 100%; /* Increase image width to fill the grid more closely */
    height: auto; /* Maintain aspect ratio */
}

.content{
    margin-left: 20rem;
    margin-right: 20rem;
}