.homeContainer {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url('/paper.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    font-weight: 600;
    font-size: 3rem;
    color: #374735;
    margin-bottom: 0.5rem;
}

.subhead {
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 0;
}

.emoticon {
    color: #99755c;
}

.textAndRoleContainer {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    align-items: start; 
    column-gap: 10rem;
}

.body_text {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1.5rem;
}

.role {
    align-items: start;
}

.imageContainer {
    width: 100%; /* Make the container take up the full width of its parent */
    height: 400px; /* Set the desired height for the container */
    overflow: hidden; /* Ensure no part of the image overflows the container */
    position: relative; /* Allow the image to align within the container */
    display: flex; /* Center the image */
    align-items: center;
    justify-content: center;
}

.imageContainer2{
    width: 100%; /* Make the container take up the full width of its parent */
    height: auto; 
    overflow: hidden; /* Ensure no part of the image overflows the container */
    position: relative; /* Allow the image to align within the container */
    display: flex; /* Center the image */
    align-items: center;
    justify-content: center;
}

.mag {
    width: 100%; 
    max-width: 600px;
    height: auto;
    object-fit: contain;
}

.imageGrid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
    margin-top: 0rem;
    background-color: #374735;
}



.imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto); 
    gap: 20px; 
}

.imageItem {
    width: 100%;
    height: auto;
}

.imageItem2 {
    width: 50%; /* Set the width of the item */
    margin: 0 auto; /* Centers the element horizontally */
    display: block; /* Ensures it behaves as a block-level element */
    text-align: center; /* Centers text inside the image if necessary */
}


.image1, .image2 {
    width: 100%;
    height: auto;
    object-fit: cover;  /* Ensures the image scales well without stretching */
}



.content{
    margin-left: 20rem;
    margin-right: 20rem;
}

.caption{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 0.75rem;
}