.h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
}

.line {
    display: block;
    margin-top: 1rem;
}

.role {
    font-weight: bold;
    color: #374735;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}