.header {
    background-color: #f8f9fa;
    padding: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
}

.navList {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}


.navLink {
    text-decoration: none;
    color: #374735;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navLink:hover {
    color: #99755c;
}