.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the top of the container */
    margin: 0;
    padding: 0;
}




.title {
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: underline;
    text-align: left;
    margin-right: 7.75rem;
    color: #374735;
    margin-bottom: 0rem;
}

.bodyText {
    font-size: 0.75rem;
    font-weight: 100;
    text-align: left;
    margin-top: 0rem;
}

.container > *:not(:last-child) {
    margin-bottom: 0rem; /* Reduced gap between items */
}
